@font-face {
  font-family: custom-cursive;
  src: url(../fonts/Shopping_Font_Script.ttf);
}
@font-face {
    font-family: bold;
    src: url(../fonts/Cocogoose_demibold.ttf);
  }
@font-face {
font-family: thin;
src: url(../fonts/Cocogoose_Thin.ttf);
}
html {
    scroll-behavior: smooth;
 }
#teBrindamos{
    transform: translateY(400px);
} 
body{
    margin:0;
    background-color: #aefab3;
}
.page1{
    // background-color: #aefab3;
    pointer-events: none;
    position:fixed;
}.palta1{
    width:480px;
}.nav{
    pointer-events: none;
    position: sticky;
    top:0;
    z-index: 999;
    background: linear-gradient(180deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%);
    height: 250px;
}.nav-wrapper{
    pointer-events: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
}.spacer{
    height: 68vh;
    pointer-events: none;
}.logo{
    width:250px;
    margin-right:5vw;
    opacity: 1;
    transition: .3s;
}.fade{
    opacity: 0.2;
}a{
    text-transform: uppercase;
    font-weight: 900;
    font-family: thin;
    text-decoration: none;
    color: white;
    letter-spacing: 3px;
    font-size:12px; 
    padding-left: 10px;
    padding-right: 10px;
}.capsule{
    display: inline-block;
    border-radius: 50px;
    border:solid white 1px;
    padding: 10px 20px 10px 20px;
}.capsule:hover{
    color: green;
    background-color: white;
}.remove-padding{
    padding:0
}.page1{
    width: 100vw;
    text-align:center
}h1{
    margin-top: -40px;
    text-shadow: 4px 4px 11px rgba(0,0,0,0.4);
    font-size:45px;
    font-family: bold;
    color:white
}.subtitle1{
    font-family: thin;
    color:#474302;
    font-size: 18px;
    font-weight: 600;
}
.page2{
    text-align: center;
    background-color: #dbdbdb;
    // height: 200vh;
    width: 100%;
    // top:100vh;
    z-index: 4;
    position: relative;
    padding-top:400px;
}.title2{
    color:black;
    font-family: bold;
    font-size: 50px;
}.tipos-container{
    height: 80vh;
    background-image: url(../img/palta-comparison.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
    font-family: thin;
    font-size: 40px;
    width: 50vw;
    margin-right: auto;
    margin-left:auto;
    display: flex;
    justify-content: space-between;
}.calendar-cont{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}.calendar-text-wrapper{
    display:inline-block;
}
.palta-left{
    position: absolute;
    left:0;
    top: 400px;
    width: 550px;
}.palta-right{
    position: absolute;
    right:0;
    top: 400px;
    width: 550px;
}.calendar-cont{
    margin-top: 500px;
}.palta-types{
    margin-top: 100px;
    font-family: custom-cursive;
    font-size:80px;
}.check{
    width: 80px;
}.info{
    margin-top: 15px;
    line-height: 1.8;
    font-size:12px;
    font-family: thin;
    width: 350px;
    font-weight: 600;
    padding-left: 40px;
    text-align: justify;
    text-justify: inter-word;
}.go-back{
    position: absolute;
    left: 0;
    z-index: 0;
    margin-top: -100px;
    width: 100%;
}.nosotros-title{
    font-family:bold;
    color:#6d8c73;
    font-size:40px;
    margin-top:250px;
    margin-bottom: 0;
}.img-template{
    position: relative;
    z-index: 1;
    margin-top:60px;
    max-width: 600px;
    max-height: 600px;
}.page-3{
    position: relative;
    z-index: 5;
    background-color: #9dec7b;
    height:100vh;
}.contacto-title{
    padding-top: 80px;
    font-family: bold;
    text-shadow: -2px 2px 0px #083f1b;
    color:#235c39;
    font-size: 50px;
    position: relative;
    margin-left: 50px;
    z-index: 2;
}.contactate-1{
    margin-top: 0;
    margin-left: 50px;
    margin-bottom:0px;
}.contactate-2{
    margin-top: 0;
    margin-left: 290px;
    margin-bottom:0px;
}.contactate-3{
    margin-top: 0;
    margin-left: 350px;
    margin-bottom:0px;
}.inputs{
    width: 350px;
    display: inline-flex;
    flex-direction: column;
}input{
    font-family: thin;
    background: transparent;
    outline:none;
    border: none;
    border-bottom: solid #9ec41f 1px;
    color:#235c39;
    font-weight: 900;
    font-size:14px;
    font-family: thin;
    padding: 6px 10px;
    margin:15px 60px 0px 40px;
}input::placeholder{
    color:#b4cc5e;
    font-weight: 900;
    font-size:14px;
    font-family: thin;
}.logo-min{
    width: 150px;
}.form-cont{
    box-shadow: -13px 14px 46px 0px rgba(77,55,0,0.52);
    padding-top:30px;
    background-color: white;
    width: 600px;
    padding-bottom: 1px;
    margin-left:35vw;
}.inputs-wrapper{
    display: flex;
    
    // justify-content: flex-start;
}textarea{
    font-family: thin;
    background: transparent;
    outline:none;
    border: none;
    border-bottom: solid #9ec41f 1px;
    color:#235c39;
    font-weight: 900;
    font-size:14px;
    font-family: thin;
    padding: 10px 0px;
    margin:15px 60px 0px 40px;
    width: 520px;
}textarea::placeholder{
    color:#b4cc5e;
    font-weight: 900;
    font-size:14px;
    font-family: thin;
}.enviar-button{
    cursor: pointer;
    background-color: #235c39;
    font-family: thin;
    color:white;
    font-size: 18px;
    padding:14px 40px;
    border-radius: 50px;
    display: inline-block;
    font-weight: 900;
    border: none;
}
.enviar-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 35px 35px 20px 30px;
}.contact-info{
    font-size: 14px;
    letter-spacing: 3px;
    font-family: thin;
    font-weight: 900;
    color: rgb(109, 109, 109);
    line-height: 1.5;
}.last-left{
    position:absolute;
    left:0;
    bottom:0;
    width: 38vw;
}.last-right{
    width: 38vw;
    position:absolute;
    right:0;
    top:40px;
}.flag-peru{
    opacity: 1;
    width:60px;
    position: absolute;
    left: 40px;
    top:90vh;
    transition-duration: .2s;
}.flag-us{
    width:60px;
    position: absolute;
    left: 120px;
    top:90vh;
    transition-duration: .2s;
}#status{
    // opacity: 0;
    font-family: thin;
    font-weight: 900;
    display: inline-block;
    padding: 10px 55px;
}
#status.success{
    color:black;
    background-color: white;
    animation: status 4s ease forwards;
}#status.error{
    color:white;
    background-color: red;
    animation: status 99s ease forwards;
}
@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}
.slider-container{
    height: 700px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}.pre-arrow{
    position: absolute;
    width: 50px;
    top:350px;
    left:70px;
    cursor: pointer;
}.next-arrow{
    position: absolute;
    cursor: pointer;
    width: 50px;
    top:350px;
    right:70px;
}
#imageToShow.show{
    animation: showMe .2s ease forwards;
}
#imageToShow.hide{
    animation: hideMe .2s ease forwards;
}
@keyframes showMe{
    0%{
        opacity: 0;
        pointer-events: all;
    }
    100%{
        opacity: 1;
        pointer-events: all;
    }
}
@keyframes hideMe{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}
button.enviar-button:hover{
    background-color: #41d453;
}.burger{
    display: none;
}.close{
    display:none
}.status-wrapper{
    margin-top: 0;
}#temporadas{
    transform: translateY(1px);
}.about-us-text{
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    width: 600px;
    font-family: thin;
    font-weight: 900;
    font-size:12px;
    line-height: 1.4;
}.less-margin{
    margin-top: 40px;
}.push-bottom{
    margin-bottom: 0;
    padding-bottom: 100px;
}